<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>FindIDServlet</servlet-name>
    <servlet-class>cn.kexie.servlet.FindIDServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisteWriteServlet</servlet-name>
    <servlet-class>cn.kexie.servlet.RegisteWriteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.kexie.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WarrantyWriteServlet</servlet-name>
    <servlet-class>cn.kexie.servlet.WarrantyWriteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelWarrantyServlet</servlet-name>
    <servlet-class>cn.kexie.servlet.DelWarrantyServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>FindIDServlet</servlet-name>
    <url-pattern>/FindIDServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisteWriteServlet</servlet-name>
    <url-pattern>/RegisteWriteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WarrantyWriteServlet</servlet-name>
    <url-pattern>/WarrantyWriteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelWarrantyServlet</servlet-name>
    <url-pattern>/DelWarrantyServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
